.Interiorcont {
    display: flex;              /* Flexbox 사용 */
    flex-direction: column;     /* 세로 방향으로 정렬 */
    align-items: center;        /* 수평 중앙 정렬 */              
}
.interiorline{
    position: relative;
    width: 95%;
    height: 2px;
    border: none;
    top: -5px;
    /* border를 사용하지 않음 */
    background-color: #ffffff;
    /* 배경색으로 선을 만듦 */
    
}
.inteProject, .inteshare, .intedel{
    display: flex;
    align-items: center;
    gap:30px;
}

.projects{
    position: relative;
    top: 40px;
    gap: 44px;
    display: flex;
    flex-direction: column;
    right: 820px;
}

.Probox, .sharebox, .delbox{
    position: relative;
    width: 60px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.Probox img.folder, .sharebox img.share, .delbox img.Del {
    width: 100%;  /* 부모 박스 크기에 맞게 */
    height: 80%; /* 부모 박스 크기에 맞게 */
    object-fit: contain; /* 이미지가 잘리지 않고 부모 박스에 맞도록 */
}

.inteProject:hover, .inteshare:hover, .intedel:hover{
  color: #90B794;
}

.inteProject:hover .Probox,
.inteshare:hover .sharebox,
.intedel:hover .delbox {
    background-color: #90B794; /* 상자 배경색 변경 */
}

.interiorline2 {
    position: relative;
    width: 750px;
    height: 0px;
    right: 670px;
    bottom: -130px;

    border: 0.1px solid #FFFFFF;
    transform: rotate(90deg);

}

.Links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    gap: 30px;
}

.Links:hover{
    color: #90B794;
}